* {
  margin: 0;
  padding: 0;
}

.login-container {
  width: 100%;
  /* height: 100vh; */
  font-family: sans-serif;
<<<<<<< HEAD:src/utils/Login/login.css
=======
  background: url(../utils/assets/background.png);
  /* Full height */
  /* height: 100%; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
>>>>>>> main:src/utils/login.css
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.login-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-card {
  width: 350px;
  height: 450px;
  perspective: 1000px;
  border-radius: 5%;
  margin-right: 20px;
}

.login-inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s;
}

.login-card-front,
.login-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
<<<<<<< HEAD:src/utils/Login/login.css
  border: #fff 5px dashed;
=======
  background-image: linear-gradient(rgba(0, 0, 100, 0.8), rgba(0, 0, 100, 0.8)),
    url(../utils//assets/image.jpg);
>>>>>>> main:src/utils/login.css
  padding: 55px;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 5%;
}

.login-card-back {
  transform: rotateY(180deg);
}

.login-card h2 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.login-input-box {
  width: 100%;
  background: transparent;
  border: 2px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

login-input-box::placeholder {
  color: rgba(255, 255, 255, 0.596);
  font-size: 12px;
}

.login-btn,
.login-submit-btn {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 35px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.login-submit-btn {
  position: relative;
}

.login-submit-btn::after {
  content: "\27a4";
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}

.login-card .login-btn {
  margin-top: 70px;
}

/* .login-navbar {
  display: inline;
} */
