@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pacifico&display=swap");
.nav-bar {
  position: relative;
  margin-left: 50px;
  padding: 0;
  width: 300px;
  /* border: #fff 5px dashed; */
}
.nav-bar h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: lighter;
  font-family: "Pacifico", cursive;
}
.nav-bar p {
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
}
