.nav-bar {
  position: relative;
  left: 80%;
  margin-top: 30px;
}
.nav-bar ul li {
  display: inline;
  background: #ffffff;
  list-style-type: none;
  /* text-decoration: none; */
  border: 1px solid rgb(0, 0, 0);
  margin: 35px 5px 10px;
  height: 32px;
  width: 50px;
  font-size: 12px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  /* outline: none; */
  color: rgb(0, 0, 0);
  cursor: pointer;
}
