* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background: url(background.png);
  /* Full height */
  /* height: 100%; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  width: 350px;
  height: 450px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
  perspective: 1000px;
  /* position: fixed; */
  border-radius: 5%;
  margin-right: 20px;
}

.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 100, 0.8), rgba(0, 0, 100, 0.8)),
    url(image.jpg);
  padding: 55px;
  box-sizing: border-box;
  backface-visibility: hidden;
  border-radius: 5%;
}

.card-back {
  transform: rotateY(180deg);
}

.card h2 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

input-box::placeholder {
  color: rgba(255, 255, 255, 0.596);
  font-size: 12px;
}

.btn,
.submit-btn {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 35px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.submit-btn {
  position: relative;
}

.submit-btn::after {
  content: "\27a4";
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}

.card .btn {
  margin-top: 70px;
}

.login-navbar {
  display: inline;
}

.logout,
.settings,
.delete,
.back-arrow {
  background: #fff;
  border: 1px solid rgb(0, 0, 0);
  margin: 35px 5px 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
